body{
    margin: 0;
    padding: 0;
    height: 100vh;

    background: linear-gradient(135deg, #000000, #1a1a1a, #2c2c2c);

    font-family: Arial, sans-serif;
}

.login-box{
    width: 350px;
    border-radius: 15px;
    background-color: #111111;
    color: white;
}

h2{
    font-weight: bold;
    color: white;
}

.form-control{
    border-radius: 10px;
    background-color: #222;
    color: white;
    border: 1px solid #444;
}

.form-control::placeholder{
    color: #bbbbbb;
}

.form-control:focus{
    background-color: #222;
    color: white;
    border-color: #0d6efd;
    box-shadow: none;
}

.btn{
    border-radius: 10px;
}

p{
    color: white;
}

a{
    color: #4da3ff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}